<form class="eventDetailCardContent" method="POST" action="/events/update/<%= event.game_id%>?_method=delete">
  <button class="eventButton rotate135"><i class="fas fa-trash-alt"></i> Delete Event</button>
</form>