
      <form action="/new/event" method="POST">
       <label>Dropdown</label>
        <select name="location">
          <% locArr.forEach(obj => { %>
            <option value="<%= obj.name %>"><%= obj.name %></option>
          <% }) %>
        </select>
        <select id="skill" name="skill_level">
          <option value="rookie">Rookie</option>
          <option value="moderate">Moderate</option>
          <option value="pro">Pro/MLS</option>
        </select>
          <input type="time" name="time" required>
          <input type="date" name="date" required>
          <input type="number" name="player_wanted" required>
          <input type="text" name="description" required>
          <button type="submit">Create Game</button>
      </form>
  