     <% eventsArr.forEach(event => { %>
      <div>
       <h2><%= event.location %></h2>
       <h2><%= event.date %></h2>
       <h2><%= event.time %></h2>
       <a href="/events/<% obj.id %>">View Event</a>
      </div>
     <% }) %>
 
   
 

 