<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Pitch Finder</title>
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap" rel="stylesheet">
<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/b70e821b8b.js" crossorigin="anonymous"></script>
<!-- CSS -->
  <link rel="stylesheet" href="../../public/styles/reset.css" type="text/css">
  <link rel="stylesheet" href="../../public/styles/base.css" type="text/css">
  <link rel="stylesheet" href="../../public/styles/layout.css" type="text/css">
  <link rel="stylesheet" href="../../public/styles/modules.css" type="text/css">
</head>

<body>
  <header>
    <nav class="topnav" id="myTopnav">
      <a href="/">Home</a>
      <a href="/events">Games</a>
      <a href="/new/events">Post a game</a>
      <a href="/login">Login</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </nav>
  </header>
  <main>