<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Pitch Finder</title>
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">
<!-- CSS -->
  <link rel="stylesheet" href="../../public/styles/reset.css" type="text/css">
  <link rel="stylesheet" href="../../public/styles/base.css" type="text/css">
  <link rel="stylesheet" href="../../public/styles/layout.css" type="text/css">
  <link rel="stylesheet" href="../../public/styles/modules.css" type="text/css">
</head>

<body>
  <header>
    <a href="/"><h1>Pitch Finder</h1></a>
    <a href="/login">login</a>
    <a href="/logout">logout</a>
  </header>
  <main>