<%- include('partials/splashHeader') %>
<section class="splash-page">

  <div class="splash-logo">
    <img class="splash-logo" src="/public/images/pfFulllogo.png">
  </div>
  <div class="splash-text">
    <p>Welcome to Pitch Finder a place where you can play soccer with literally anyone!</p>
  </div>
  <div class="splash-button">
    <a href="/login"><button class="eventSplashButton" type="submit">Kick Off!</button></a>
  </div>

</section>

<%- include('partials/footer') %>