body{
  background-color: #222222;
  color: #fff;
}

main{
  box-sizing: border-box;
  width: 375px;
  margin: auto;
}

.eventCards{
  background-color: #333333;
  border-radius: 15px;
  margin: 7.5px;
  padding: 20px;
  width: 95%;
}

.eventImg{
  width:100%;
}
/* display: grid;
grid-template-columns: ;
grid-template-rows: ; */