

.hidden{
  display: none;
}
.mymodal{
  background-color: #333333;
}
.mymodal a.close-modal[class*="icon-"] {
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  color: #fff;
  line-height: 1.30;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  background: #ff6600;
  border-radius: 20px;
}


#headerSpacing{
  height: 1em;
}

#error{
  background-image: url('https://media.giphy.com/media/a57Xed7DfAkDe/source.gif');
  background-repeat: no-repeat;
  height: 90vh;
  width: 90vw;
}
footer{
  background-color: #222222;
  color: #555555;
  text-align: center;
  height: 6em;
  line-height: 6em;
}
.navbar-dark{
  background-color: #222222 !important;
}
.navbar a:hover{
  color: #ff6600 !important;
}